DB_TYPE=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
EJABBERD_DOMAIN=
CERT_NUMBER=
EJABBERD_CONTAINER=
ADMIN_NAME=
ADMIN_PASS=
JWT_KEY_PATH=
GCP_PROJECT=
GCP_ZONE=
GCP_REPOSITORY=
GCP_REPO_NAME=
GCP_REPO_TAG=
ENCRYPT_FOLDER=

